.productIntroduction{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

h3{font-size: 2em; color: #383633; padding: 20px 0 10px 10px;
}

/* 
모바일 0~767px767
태블릿 768px ~ 1023px1023
pc 1024px~1800 */


@media only screen and (max-width:1024px) {
    .productIntroduction{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    h3{text-align: center;}
}