.ant-card-cover {
    width:100%;
    height: 240px;
  }
  
  .ant-card-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .ant-card-body {
    height: 160px;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .reviewCard {
    height: 420px;
    margin-bottom: 20px;
  }
  .ant-card-meta-description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
  }
  
  @media screen and (max-width:576px){
    .ant-card-cover,.ant-card {
      width: 100%;
      height: 240px;
      margin: 0;
      padding: 0;
      
    }
    .ant-card img{
      width: 100%;
    }
    .ant-body{
      width: 100%;
    }
    .reviewCard{
      width: 100%;
    }
  }
  
  @media screen and (max-width:633px) and (min-width:576px){
    .reviewCard{
      margin-right: 0;
      margin-left: 0px;
      position: relative;
      left: 3px;
    }
   
  }
  