.ShowRoomC {
  width: 100%;
}
.ShowRoomC h1 {
  margin-top: 20px;
  margin-left: 5px;
}
.ShowRoom {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 0 50px 0;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  overflow: hidden;
}
.room1 {
  text-align: center;
  position: relative;
}
.room2 {
  text-align: center;
  position: relative;
}
.room1 img {
  width: 98%;
  height: auto;
}
.room2 img {
  width: 98%;
  height: auto;
}
.curclew {
  background-color: white;
  border: 1px solid black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
}

.point1 {
  top: 20%;
  left: 8%;
  /* 좌측램프 */
}
.point2 {
  top: 55%;
  left: 15%;
  /* 좌측수납장 */
}
.point3 {
  top: 40%;
  left: 30%;
  /* 베게 */
}
.point4 {
  top: 45%;
  left: 50%;
  /* 침대러그 */
}
.point5 {
  top: 50%;
  left: 95%;
  /* 우측서랍장 */
}
.point6 {
  top: 20%;
  left: 92%;
  /* 우측램프 */
}
.point7 {
  top: 80%;
  left: 70%;
  /* 카펫 */
}

.point8 {
  top: 60%;
  left: 10%;
  /* 좌측서랍 */
}
.point9 {
  top: 38%;
  left: 17%;
  /* 좌측램프 */
}
.point10 {
  top: 52%;
  left: 43%;
  /* 소파 */
}
.point11 {
  top: 55%;
  left: 58%;
  /* 쿠션 */
}
.point12 {
  top: 83%;
  left: 30%;
  /* 카펫 */
}
.point13 {
  top: 28%;
  left: 77%;
  /* 우측램프 */
}
.point14 {
  top: 40%;
  left: 88%;
  /* 우측책장 */
}

.ShowRoomDesc:hover .DescText {
  visibility: visible;
}

.ShowRoomDesc .DescText {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  font-size: 12px;
  margin-left: -35px; /* 말풍선 가로크기의 절반 */
  padding: 5px;
  width: 80px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  opacity: 0.9;
  transition: visibility 0s, opacity 0.3s;
  word-break: keep-all;
}

.ShowRoomDesc .DescText::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.DescText1 {
  top: 25%;
  left: 8%;
}
.DescText2 {
  top: 60%;
  left: 15%;
}
.DescText3 {
  top: 45%;
  left: 30%;
}
.DescText4 {
  top: 50%;
  left: 50%;
}
.DescText5 {
  top: 55%;
  left: 95%;
}
.DescText6 {
  top: 25%;
  left: 92%;
}
.DescText7 {
  top: 85%;
  left: 70%;
}
.DescText8 {
  top: 65%;
  left: 10%;
}
.DescText9 {
  top: 43%;
  left: 17%;
}
.DescText10 {
  top: 57%;
  left: 43%;
}
.DescText11 {
  top: 60%;
  left: 58%;
}
.DescText12 {
  top: 88%;
  left: 30%;
}
.DescText13 {
  top: 33%;
  left: 77%;
}
.DescText14 {
  top: 45%;
  left: 88%;
}
@media (max-width: 633px) {
  .ShowRoom {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-between;
    overflow: hidden;
  }
}
