header {
  width: 100%;
  height: 100%;
}
.topMenu {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #eee;
}
.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 15px;
}
.menu li a {
  font-size: 12px;
}

.logoWrap {
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoWrap a {
  height: 64px;
  display: inline-block;
}
.logoWrap a h1 {
  display: inline-block;
  height: 100%;
}
.logoWrap a img {
  height: 100%;
}

.gnbWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 1px 10px 10px #eee;
}
.gnbWrap ul {
  width: 100%;
  border-bottom: none;
}

.gnbAD {
  display: flex;
}
.gnbBtn {
  display: flex;
  flex-direction: row;
}
/* .gnb {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}
.gnb li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
} */
@media (max-width: 633px) {
  .topMenu {
    display: none;
  }
  .gnbAD {
    flex-direction: column;
  }
  .gnbBtn {
    display: flex;
    flex-direction: row;
  }
}
