* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "pretendard", sans-serif;
}
ul,
ol,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
/* FONT */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
